# Build Files
cmake-build-debug/
cmake-build-release/

# CLion Files
.idea/
*.iml
*.ipr
*.iws

# ClangD Files
.cache/

# Save Data
data/current.bin

# Manual Build Dir
build/

# Screenshot Directory
gallery/
